*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: lightgray;
}
header{
    background-color: rgb(202, 248, 64);
    height: 100px;
}
.box1{
    display: flex;
}
.one-a{
    /* border: 1px solid black; */
    margin-left: 40px;
    margin-top: 20px;
}
.one-b{
    /* border: 1px solid black; */
    margin-left: 100px;
    margin-top: 30px;
}
.one-b a{
    padding: 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
    color:rgb(28, 142, 5);
}
.one-b a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px;
}
.one-c{
    margin-left: 40px;
    margin-top: 34px;
    font-size: 25px;
}
.one-c i{
padding: 3px;
}
.one-c i:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 3px;
    border-bottom: 2px solid rgb(249, 248, 248);
}
.box4{
    display: flex;
    justify-content: space-evenly;
}
.one-i{
    margin-top: 70px;
    margin-left: 50px;
    font-size: 35px;
    width: 400px;
}
.one-h{
    border: 1px solid black;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(248, 217, 217);
}
.inbox h3,p{
    margin-left: 15px;
}
.inbox img{
border-radius: 10px;
}
.inbox img{
    border-radius: 10px;
    }
    .one-h:hover{
        transform: scale(1.05);
    }
.inbox span{
    color: gray;
}
.inbox s{
    color: red;
}
.buy{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}
#now a{
    text-decoration: none;
    color: black;
    background-color: rgb(126, 124, 124);
    padding: 5px 5px;
    border-radius: 10px;
}
#now a:hover{
    color: white;
    background-color: rgb(113, 242, 113);
}